:root {
    box-sizing: border-box;
    font-size: 62.5%;
    --main-color: #ffffff;
    --secondary-bg-color: #F5F5F5;
    --hero-text-color: #444444;
    --secondary-text-color: #D0D0D0;
}

body {
    color: var(--hero-text-color);
    background-color: var(--bg-color);
    font-size: 1.6rem;
    font-family: 'Poppins', sans-serif;
}

img {
    width: 100%;
}

#wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr auto;
    padding: 1.5rem;
    gap: 2rem;
}

#main {
    order: 1;
}

#block {
    order: 2;
}

.complementary-column {
    background-color: var(--secondary-bg-color);
    height: calc(100vh - 5rem);
    border-radius: 2rem;
    padding: 0 2rem;
}

.input {
    all: unset;
    background-color: var(--secondary-bg-color);
    border: 1px solid #8472721f;
    border-radius: 1rem;
    min-width: 25rem;
    padding: 1rem;
}

textarea {
    height: 10rem !important;
}

.select {
    background-color: var(--secondary-bg-color);
    border: 1px solid #8472721f;
    border-radius: 1rem;
    padding: .8rem;
}

.date {
    background-color: var(--secondary-bg-color);
    border: 1px solid #8472721f;
    border-radius: 1rem;
    padding: .8rem;
}


.column-title {
    font-size: 2rem;
    font-weight: 600;
}

.br-gray {
    border-top: 1px solid #8472721f;
    border-bottom: 1px solid #8472721f;
}


.list-title {
    text-transform: uppercase;
}

.project-element {
    padding: 0 1rem;
}

.selected {
    font-weight: 600;
    background-color: #EBEBEB;
    border-radius: 1rem;
}

.selected .number-tasks {
    background-color: #FAFAFA
}

.adjust-element {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.group-items {
    display: flex;
    gap: 1.5rem;
}

.icon {
    width: 20px;
}

.completed {
    text-decoration: line-through;
}

.number-tasks {
    padding: .5rem 1.6rem;
    border-radius: .6rem;
    background-color: #EBEBEB
}

.number-task {
    font-weight: 600;
    font-size: 1.2rem;
    margin: 0px;
}

/* Main */

.header {
    font-weight: 600;
    font-size: 3.8rem;
    margin-bottom: 2rem;
}

.header p {
    margin: 0;
}

.pad-item {
    padding: 0 2rem;
}

.br-all {
    border: 1px solid #8472721f !important;
    border-radius: 1rem !important;
}

.task {
    border-top: 0;
}

/* Edit Block */

.information {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.input-group {
    display: grid;
    font-size: 1.4rem;
    justify-content: flex-start;
    grid-template-columns: 70px 140px;
}

.g-4 {
    gap: 4rem;
}

.relative {
    position: relative;
}

/* Btns */

.btn-group {
    display: flex;
    gap: 1.5rem;
    justify-content: space-between;
    position: absolute;
    bottom: 2rem;
}

.btn {
    all: unset;
    padding: 1rem 1rem;
    font-weight: 600;
}

.btnRight {
    background-color: #FFD33C;
}

.complete {
    background-color: #3584FFAD;
}

.remove {
    background-color: #FF3C61C7;
}